**/app.vagrant/**
**/app/node_modules/**
**/app/**/node_modules/**
**/app/target/**
**/usermgt.iml
docs/
.idea/
.code/
.git/
.gitignore
integrationTests/
batsTests/
cypress/
*.md
build/
k8s/
.env
.env.template
.bin
