# netbeans temp & private files
app/target/
# MacOS X Files
.DS_Store
._.DS_Store
._.
Desktop DB
Desktop DF
.hotfiles.btree
*.orig
*~
*.bak
*.NavData
*.rej
*.conflict
# web components
app/node_modules/
app/src/main/webapp/components/
app/src/main/webapp/style/css/
# dynamic settings
app/env/data/settings/
# vagrant
app/.vagrant
app/.project
# ignore idea files
.idea
*.iml
**/target/**
**/build/tmp/**
.npmrc
