<h1>Settings</h1>

<p>
  Here you can check for appliance updates automatically. To activate this 
  service, you have to click on the checkbox below. After this activation, you 
  will receive the latest information on available updates. Beside your current 
  appliance version and your IP address, we don’t send any other information to 
  our update server.
</p>

<form name="settingsForm" role="form" novalidate>

  <h2>Updates</h2>

  <div class="form-group has-feedback">
    <input type="checkbox" id="update" name="update" ng-model="settings.updateCheckEnabled">
    <label class="control-label" for="update">Check for updates automatically</label>
  </div>
  <p>
    Please be sure to backup your system before every update.
  </p>

  <h3>Login credentials</h3>

  <p>
    For our virtual appliance SCM-Manager Universe we offer an automatic update 
    service. With this service you are always up to date with the latest appliance 
    version without complex installation or configuration. To benefit from our 
    service, you have purchased either the Maintained, Regular or Advanced 
    support package. If you want to learn more about our service or if you are 
    interested in our Service Packages click <a href="">here</a>.
  </p>
  <p>
    Fill in the support ID and password you received after booking one of the 
    mentioned support packages.
  </p>
  
  <alert ng-if="invalidCredentials" type="danger">Invalid credentials</alert>

  <div class="form-group">
    <label class="control-label" for="userid">Support User/ID:</label>
    <input id="userid" name="userid" type="text" class="form-control" placeholder="Enter userid" ng-model="settings.updateServiceCredentials.username">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" name="password" type="password" class="form-control" placeholder="Password" ng-model="settings.updateServiceCredentials.password">
  </div>

  <h2>Update Bugzilla-Plugin</h2>

  <div class="form-group has-feedback">
    <input type="checkbox" id="bugzilla" name="bugzilla" ng-model="settings.updateBugzillaPlugin">
    <label class="control-label" for="bugzilla">Update SCM-Manager-Bugzilla-Plugin settings on boot</label>
  </div>
  <p>
    The appliance will automatically reconfigure the settings of the 
    Bugzilla-Plugin in SCM-Manager to the actual IP address. This is useful, 
    if your appliance change its IP address on reboot.
  </p>

  <h2>Update CAS-Server</h2>

  <div class="form-group has-feedback">
    <input type="checkbox" id="cas" name="cas" ng-model="settings.updateCasServer">
    <label class="control-label" for="cas">Update CAS-Server settings for all connected tools on boot</label>
  </div>
  <p>
    The appliance will automatically reconfigure the settings of the CAS-plugins 
    in SCM-Manager, Jenkins, SonarQube and Bugzilla to the actual IP address. 
    This is useful, if your appliance change its IP address on reboot.
  </p>

  <button type="submit" class="btn btn-primary" ng-click="update(settings)" ng-disabled="settingsForm.$invalid || isUnchanged(settings)">
    Save
  </button>
</form>