<h1>{{create ? 'New user' : user.username}}</h1>

<div class="danger">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<tabset>
  <tab heading="Options">

    <form name="form" role="form" novalidate>
      <div ng-init="setForm(form)"></div>
      <!-- TODO: Aussagekraeftige Fehlermeldung wenn username mit ._-@ beginnt -->
      <div class="form-group has-feedback" ng-if="create" data-uadm-validate>
        <label class="control-label" for="username">Username</label>
        <input id="username"
               name="username" 
               type="text" 
               class="form-control" 
               placeholder="Enter username"
               ng-model="user.username"
               ng-minlength="2"
               ng-maxlength="128"
               ng-required="true"
               unique-constraint-checker
               ng-pattern="/^[a-zA-Z0-9]+[-_@\.]*[a-zA-Z0-9]+[-_@\.]*[a-zA-Z0-9-_@\.]*$/"
        >
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <strong ng-show="form.username.$error.required" class="text-danger help-block">
          Username is required.
        </strong>
        <strong ng-show="form.username.$error.pattern && !containsIllegalChar(user.username)" class="text-danger help-block">
          Username contains illegal characters.
        </strong>
        <strong ng-show="form.username.$error.pattern && containsIllegalChar(user.username)" class="text-danger help-block">
          Username must have at least 2 characters.
        </strong>
        <strong ng-show="form.username.$error.minlength" class="text-danger help-block">
          Username must have at least 2 characters
        </strong>
        <strong ng-show="form.username.$error.maxlength" class="text-danger help-block">
          Username exceeds the maximum length of 32 characters.
        </strong>
        <strong ng-show="form.username.$error.uniqueConstraint" class="text-danger help-block">
          A user with that username already exists.
        </strong>
      </div>

      <div class="form-group">
        <label class="control-label" for="givenname">Given name</label>
        <input type="text" class="form-control" id="givenname" placeholder="Enter given name" ng-model="user.givenname">
      </div>
      <div class="form-group has-feedback" data-uadm-validate>
        <label class="control-label" for="surname">Surname</label>
        <input id="surname" name="surname" type="text" class="form-control" placeholder="Enter surname" ng-required="true" ng-model="user.surname">
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <strong class="text-danger help-block">
          Surname is required.
        </strong>
      </div>
      <div class="form-group has-feedback" data-uadm-validate>
        <label class="control-label" for="displayName">Display name</label>
        <input id="displayName" name="displayName" type="text" class="form-control" placeholder="Enter display name" ng-required="true" ng-model="user.displayName">
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <strong class="text-danger help-block">
          Display name is required.
        </strong>
      </div>
      <div class="form-group has-feedback" data-uadm-validate>
        <label class="control-label" for="email">Email address</label>
        <input id="email" name="email" type="email" class="form-control" placeholder="Enter email" ng-required="true" ng-model="user.mail" unique-constraint-checker>
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <strong ng-show="form.email.$error.email" class="text-danger help-block">
          E-mail address is invalid.
        </strong>
        <strong ng-show="form.email.$error.uniqueConstraint" class="text-danger help-block">
          A user with that e-mail address already exists.
        </strong>
      </div>
      <div class="form-group password-field has-feedback" data-uadm-validate>
        <label class="control-label" for="password">Password</label>
        <input id="password" name="password" type="password" class="form-control" placeholder="Password" ng-required="true" ng-model="user.password" ng-change="applyPasswordPolicy()">
        <span  class="glyphicon glyphicon-remove form-control-feedback "></span>
        <span  class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
      <p>
        <span ng-repeat="violation in passwordPolicy.violations" class="text-danger display-block"><strong>{{violation.Description}}.&nbsp;</strong></span>
        <span ng-repeat="satisfaction in passwordPolicy.satisfactions" class="text-success display-block"><strong>{{satisfaction.Description}}.&nbsp;</strong></span>
      </p>
      <div class="form-group password-field has-feedback" data-uadm-validate>
        <label for="confirmPassword">Confirm password</label>
        <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" ng-required="true" placeholder="Password" ng-model="confirmPassword" uadm-password-match="user.password">
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <strong class="text-danger help-block">
          Passwords do not match.
        </strong>
      </div>
      <button type="submit" class="btn btn-primary" ng-click="save(user)" ng-disabled="form.$invalid || isUnchanged(user)">
        Save
      </button>
      <button ng-if="!create && removeEnabled" class="btn btn-warning" ng-click="remove(user)" ng-disabled="{{isSelf(user)}}">
        Remove
      </button>
      <a ng-if="backEnabled" class="btn btn-default" ng-href="#/users">
        Back
      </a>
    </form>
    
  </tab>
  <tab heading="Groups" ng-if="subject.admin">
     <form name="groupform" role="form" ng-submit="addGroup(group)" novalidate>
      <div class="form-group">
        <label class="control-label" for="addGroup">Add group</label>
        <input id="addGroup" name="addGroup" type="text" class="form-control" 
               placeholder="Add group" ng-model="group.newGroup" required="required" autocomplete="off"
               typeahead="group.name for group in searchGroups($viewValue)" 
               typeahead-min-length="2"
               typeahead-on-select="addGroup(group)"
               typeahead-loading="searchGroupIndicator" />
      </div>
    </form>
    <table class="table">
      <tr ng-repeat="group in user.memberOf | simpleSort">
        <td>
          <b>{{group}}</b>
        </td>
        <td class="text-right element-interactions">
           <button aria-label="remove" title="remove group" class="glyphicon glyphicon-trash remove" href="" ng-click="removeGroup(group)"></button>
        </td>
      </tr>
    </table>
  </tab>
</tabset>
