body {
  padding-top: 60px;
  padding-bottom: 20px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.panel-pointer {
  cursor: pointer;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#loading-bar-spinner {
  left: auto;
  top: 15px;
  right: 15px;
}

/** form validation **/
.form-group .text-danger {
  display: none;
}

.form-group.has-error .text-danger {
  display: block;
}

.form-group .fa-check {
  display: none;
}

.form-group.has-success .fa-check {
  display: block;
}

.form-group .fa-times {
  display: none;
}

.form-group.has-error .fa-times {
  display: block;
}

/** tabs **/
.nav-tabs {
  margin-bottom: 10px;
}

.nav, .pagination, .carousel a {
  cursor: pointer;
}