<h1>{{create ? 'New group' : group.name}}</h1>

<div class="danger">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<tabset>
  <tab heading="Options">

    <form name="form" role="form" novalidate>

      <div class="form-group has-feedback" ng-if="create" data-uadm-validate>
        <label class="control-label" for="name">Name</label>
        <input id="name" 
               name="name" 
               type="text" 
               class="form-control" 
               ng-model="group.name" 
               ng-pattern="/^[^=,]+$/"
               ng-minlength="2"
               ng-maxlength="32"
               placeholder="Enter name" 
               ng-required="true">
        <span class="fa fa-check fa-2x form-control-feedback"></span>
        <span class="fa fa-times fa-2x form-control-feedback"></span>
        <strong ng-show="form.name.$error.required" class="text-danger help-block">
          Name is required
        </strong>
        <strong ng-show="form.name.$error.pattern" class="text-danger help-block">
          Name can not contain the characters "=" and ","
        </strong>
        <strong ng-show="form.name.$error.minlength" class="text-danger help-block">
          Name is longer than 2 characters
        </strong>
        <strong ng-show="form.name.$error.maxlength" class="text-danger help-block">
          Name is longer than 32 characters
        </strong>
      </div>
      
      <div class="form-group">
        <label class="control-label" for="description">Description</label>
        <textarea id="description" name="description" class="form-control" rows="3" ng-model="group.description" placeholder="Enter description"></textarea>
      </div>

      <button type="submit" class="btn btn-primary" ng-click="save(group)" ng-disabled="form.$invalid || isUnchanged(group)">
        Save
      </button>
      <button  class="btn btn-warning" ng-click="remove(group)">
        Remove
      </button>
      <a ng-if="backEnabled" class="btn btn-default" ng-href="#/groups">
        Back
      </a>

    </form>

  </tab>
  <tab heading="Members">

    <form name="memberform" role="form" ng-submit="addMember(member)" novalidate>

      <div class="form-group">
        <label class="control-label" for="addMember">Add member</label>
        <input id="addMember" name="addMember" type="text" class="form-control" 
               placeholder="Add member" ng-model="member.newMember" required="true"
               typeahead="user.username as user.displayName + ' (' + user.username + ')' for user in searchUsers($viewValue)" 
               typeahead-min-length="2"
               typeahead-on-select="addMember(member)"
               typeahead-loading="searchUsersIndicator" />
      </div>
      
    </form>

    <table class="table">
      <tr ng-repeat="member in group.members | simpleSort">
        <td>
          <a ng-href="#/users/{{member}}">{{member}}</a>
        </td>
        <td class="text-right">
          <button class="btn btn-warning" href="" ng-click="removeMember(member)">
            Remove
          </button>
        </td>
      </tr>
    </table>

  </tab>
</tabset>


