<h1>{{create ? 'New group' : group.name}}</h1>

<tabset>
  <tab heading="Options">

    <form name="form" role="form" novalidate>

      <div class="form-group">
        <label class="control-label" for="description">Description</label>
        <textarea id="description" name="description" class="form-control" rows="3" ng-model="group.description" placeholder="Enter description"></textarea>
      </div>

      <button type="submit" class="btn btn-primary" ng-click="save(user)" ng-disabled="form.$invalid || isUnchanged(user)">
        Save
      </button>
      <button  class="btn btn-warning" ng-click="remove(user)">
        Remove
      </button>
      <a ng-if="backEnabled" class="btn btn-default" ng-href="#/users">
        Back
      </a>

    </form>

  </tab>
  <tab heading="Members">

    <form name="memberform" role="form" ng-submit="addMember(member)" novalidate>

      <div class="form-group">
        <label class="control-label" for="addMember">Add member</label>
        <input id="addMember" name="addMember" type="text" class="form-control" 
               placeholder="Add member" ng-model="member.newMember" required="true"
               typeahead="user.username as user.displayName for user in searchUsers($viewValue)" 
               typeahead-min-length="2"
               typeahead-on-select="addMember(member)"
               typeahead-loading="searchUsersIndicator" />
      </div>
      
    </form>

    <table class="table">
      <tr ng-repeat="member in group.members">
        <td>
          <a ng-href="#/users/{{member}}">{{member}}</a>
        </td>
        <td class="text-right">
          <button class="btn btn-warning" href="" ng-click="remove(group)">
            Remove
          </button>
        </td>
      </tr>
    </table>

  </tab>
</tabset>


