<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="true">
  
  <display-name>User Management ${project.version}</display-name>
  
  <listener>
    <listener-class>
      de.triology.universeadm.BootstrapContextListener
    </listener-class>
  </listener>

  <!-- first start uri session filter -->
  <filter>
    <filter-name>casSessionValidationFilter</filter-name>
    <filter-class>de.triology.universeadm.CasSessionValidationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>casSessionValidationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- cas sso -->
  
  <listener>
    <listener-class>
      org.jasig.cas.client.session.SingleSignOutHttpSessionListener
    </listener-class>
  </listener>
  
  <filter>
    <filter-name>CAS Single Sign Out Filter</filter-name>
    <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CAS Single Sign Out Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>

        <!-- 👉 URL deines CAS Servers -->
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>https://34.179.169.73/cas/login</param-value>
        </init-param>

        <!-- 👉 WICHTIG: Session nicht vertrauen -->
        <init-param>
            <param-name>useSession</param-name>
            <param-value>false</param-value>
        </init-param>

        <!-- 👉 WICHTIG: immer echten Login erzwingen -->
        <init-param>
            <param-name>renew</param-name>
            <param-value>true</param-value>
        </init-param>

        <!-- 👉 optional, aber explizit gut -->
        <init-param>
            <param-name>gateway</param-name>
            <param-value>false</param-value>
        </init-param>

    </filter>

    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
  <!-- guice -->
  
  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- rest -->
  
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/api</param-value>
  </context-param>

  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>
      org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  
  <!-- session -->
  
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
</web-app>
