.doguSelection,
.doguSelection * {
    box-sizing: border-box;
}
.doguSelection {
    display: flex;
    flex-direction: column;
    gap: var(--1, 4px);
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
 /* Radio Buttons with label */
.doguSelection .extendedRadioButtonWithLabel {
    background: var(--brand-colors-brand-weaker-brand-100, #d4edfc);
    border-radius: var(--rounded-lg, 8px) var(--rounded-lg, 8px) 0px 0px;
    border-style: solid;
    border-color: var(--brand-colors-brand-brand-700, #00629e);
    border-width: 1px 1px 0px 1px;
    padding: 0px var(--2, 8px) 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    min-height: 40px;
    position: relative;
    overflow: hidden;
}

.doguSelection .extendedRadioButtonWithLabel .radioButtonWithLabel {
    padding: var(--3, 12px) var(--2, 8px) var(--3, 12px) var(--2, 8px);
    display: flex;
    flex-direction: row;
    gap: var(--2, 8px);
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    min-height: 40px;
    position: relative;
    overflow: hidden;
}
.doguSelection .extendedRadioButtonWithLabel .radioButtonWithLabel .radioButton {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.doguSelection .extendedRadioButtonWithLabel .radioButtonWithLabel .radioButton .radioCircle {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}
.doguSelection .extendedRadioButtonWithLabel .radioButtonWithLabel .radioButton .radioCircle .outer {
    background: var(--neutral-colors-neutral-0, #ffffff);
    border-radius: 50%;
    border-style: solid;
    border-color: var(--brand-colors-brand-brand-700, #00629e);
    border-width: 2px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.doguSelection .extendedRadioButtonWithLabel .radioButtonWithLabel .radioButton .radioCircle .outerUnchecked {
    background: var(--neutral-colors-neutral-0, #ffffff);
    border-radius: 50%;
    border-style: solid;
    border-color: var(--neutral-colors-neutral-neutral-600, #666666);
    border-width: 1px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.doguSelection .extendedRadioButtonWithLabel .radioButtonWithLabel .radioButton .radioCircle .inner {
    background: var(--brand-colors-brand-brand-700, #00629e);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
}
.doguSelection .extendedRadioButtonWithLabel .radioButtonWithLabel .labelContainer {
    display: flex;
    flex-direction: row;
    gap: var(--0, 0px);
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}




.div-radio-group {
    border-radius: 5px 5px 5px 0px;
    display: flex;
    flex-direction: column;
    gap: var(--2, 8px);
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.div-radio-button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}


.div-scope-selection {
    background: var(--neutral-colors-neutral-0, #ffffff);
    border-radius: 0px 0px var(--rounded-lg, 8px) var(--rounded-lg, 8px);
    border-style: solid;
    border-color: var(--brand-colors-brand-brand-700, #00629e);
    border-width: 0px 1px 1px 1px;
    padding: var(--6, 24px);
    display: flex;
    flex-direction: column;
    gap: var(--4, 16px);
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.div-module-list {
    background: var(--neutral-colors-neutral-0, #ffffff);
    border-radius: var(--rounded-sm, 4px);
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.div-group-header {
    background: var(--neutral-colors-neutral-0, #ffffff);
    padding: var(--0, 0px) var(--2, 8px) var(--4, 16px) var(--2, 8px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.basis {
    color: var(--default-text, #0d1c26);
    text-align: left;
    font-family: var(--copy-paragraph-bold-font-family, "Geist-Bold", sans-serif);
    font-size: var(--copy-paragraph-bold-font-size, 16px);
    line-height: var(--copy-paragraph-bold-line-height, 24px);
    font-weight: var(--copy-paragraph-bold-font-weight, 700);
    position: relative;
}
.div-checkbox-group {
    background: var(--neutral-colors-neutral-0, #ffffff);
    padding: 0px 0px var(--4, 16px) 0px;
    display: flex;
    flex-direction: column;
    gap: var(--2, 8px);
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.checkbox-with-label {
    padding: 0px var(--2, 8px) 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    min-height: 40px;
    position: relative;
    overflow: hidden;
}
.checkbox {
    padding: var(--2, 8px);
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-height: 40px;
    position: relative;
    overflow: hidden;
}
.checkbox2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}
.box {
    background: var(--brand-colors-brand-brand-700, #00629e);
    border-radius: var(--rounded-xs, 2px);
    border-style: solid;
    border-color: var(--brand-colors-brand-brand-700, #00629e);
    border-width: 1px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.check {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.box2 {
    background: var(--neutral-colors-neutral-0, #ffffff);
    border-radius: var(--rounded-xs, 2px);
    border-style: solid;
    border-color: var(--neutral-colors-neutral-neutral-600, #666666);
    border-width: 1px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.check2 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.div-divider {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: auto;
    position: relative;
    overflow: visible;
}
.div-group-header2 {
    background: var(--neutral-colors-neutral-0, #ffffff);
    padding: var(--4, 16px) var(--2, 8px) var(--4, 16px) var(--2, 8px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.entwicklung {
    color: var(--default-text, #0d1c26);
    text-align: left;
    font-family: var(--copy-paragraph-bold-font-family, "Geist-Bold", sans-serif);
    font-size: var(--copy-paragraph-bold-font-size, 16px);
    line-height: var(--copy-paragraph-bold-line-height, 24px);
    font-weight: var(--copy-paragraph-bold-font-weight, 700);
    position: relative;
}
.check3 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.div-divider2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: auto;
    position: relative;
    overflow: visible;
}
.administration {
    color: var(--default-text, #0d1c26);
    text-align: left;
    font-family: var(--copy-paragraph-bold-font-family, "Geist-Bold", sans-serif);
    font-size: var(--copy-paragraph-bold-font-size, 16px);
    line-height: var(--copy-paragraph-bold-line-height, 24px);
    font-weight: var(--copy-paragraph-bold-font-weight, 700);
    position: relative;
}
.div-checkbox-group2 {
    background: var(--neutral-colors-neutral-0, #ffffff);
    padding: 0px var(--4, 16px) var(--4, 16px) 0px;
    display: flex;
    flex-direction: column;
    gap: var(--2, 8px);
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.div-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--4, 16px);
    row-gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.p {
    display: flex;
    flex-direction: row;
    gap: var(--2, 8px);
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
._3-von-14-ausgew-hlt {
    color: var(--neutral-colors-neutral-neutral-600, #666666);
    text-align: left;
    font-family: var(
        --copy-paragraph-regular-font-family,
        "Geist-Regular",
        sans-serif
    );
    font-size: var(--copy-paragraph-regular-font-size, 16px);
    line-height: var(--copy-paragraph-regular-line-height, 24px);
    font-weight: var(--copy-paragraph-regular-font-weight, 400);
    position: relative;
}
.nur-ausgew-hlte {
    border-radius: var(--rounded-sm, 4px);
    border-style: solid;
    border-color: var(--brand-colors-brand-brand-700, #00629e);
    border-width: 2px;
    padding: var(--2, 8px) var(--25, 10px) var(--2, 8px) var(--25, 10px);
    display: flex;
    flex-direction: row;
    gap: var(--05, 2px);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 40px;
    min-height: 40px;
    position: relative;
    overflow: hidden;
}
.icon-left {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
}
.x {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.text-wrapper {
    padding: 0px var(--15, 6px) 0px var(--15, 6px);
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.button {
    color: var(--brand-colors-brand-brand-700, #00629e);
    text-align: left;
    font-family: var(--copy-paragraph-bold-font-family, "Geist-Bold", sans-serif);
    font-size: var(--copy-paragraph-bold-font-size, 16px);
    line-height: var(--copy-paragraph-bold-line-height, 24px);
    font-weight: var(--copy-paragraph-bold-font-weight, 700);
    position: relative;
}
.radio-button-with-label2 {
    border-radius: var(--rounded-lg, 8px);
    border-style: solid;
    border-color: var(--neutral-colors-neutral-weak-neutral-300, #cccccc);
    border-width: 1px;
    padding: var(--3, 12px) var(--2, 8px) var(--3, 12px) var(--2, 8px);
    display: flex;
    flex-direction: row;
    gap: var(--2, 8px);
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    min-height: 40px;
    position: relative;
    overflow: hidden;
}

.inner2 {
    background: var(--neutral-colors-neutral-0, #ffffff);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
}
.label4 {
    color: var(--default-text, #0d1c26);
    text-align: left;
    font-family: "-", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
}
.label-4-span {
    font-family: var(--lable-label-font-family, "Geist-SemiBold", sans-serif);
    font-size: var(--lable-label-font-size, 16px);
    line-height: var(--lable-label-line-height, 24px);
    font-weight: var(--lable-label-font-weight, 600);
}
.label-4-span2 {
    font-family: var(
        --copy-paragraph-regular-font-family,
        "Geist-Regular",
        sans-serif
    );
    font-size: var(--copy-paragraph-regular-font-size, 16px);
    line-height: var(--copy-paragraph-regular-line-height, 24px);
    font-weight: var(--copy-paragraph-regular-font-weight, 400);
}
