<div class="row">
  <div class="col-sm-6">
    <h1>Groups</h1>
  </div>
  <div class="col-sm-2">
    <a class="btn btn-default pull-right" style="margin-top: 20px;" ng-href="#/group/">Create</a>
  </div>
  <div class="col-sm-4">
    
    <form class="form pull-right" style="margin-top: 20px;" role="form" name="searchForm" ng-submit="search(nonSubmittedQuery)" novalidate>
      <div class="form-group">
        <div class="input-group">
          <a class="input-group-addon pointer" ng-click="search(nonSubmittedQuery)" ng-disabled="searchForm.$invalid">
            <i class="glyphicon glyphicon-search search"></i>
          </a>
          <input name="query" 
                 type="text" 
                 class="form-control" 
                 placeholder="Search" 
                 ng-model="nonSubmittedQuery" 
                 ng-pattern="/^[^\(\)]+$/">
        </div>
        <strong ng-show="searchForm.query.$error.pattern" class="text-danger">
          Query contains illegal characters
        </strong>
      </div>
    </form>

  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Users</th>
      <th class="hidden-xs">Functions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="group in groups">
      <td>
        <b>
          {{group.name}}
        </b>
      </td>
      <td>{{group.description}}</td>
      <td>{{group.members.length}}</td>
      <td class="hidden-xs element-interactions">
          <button aria-label="edit" title="edit" class="glyphicon glyphicon-pencil edit" ng-click="editGroup(group.name)">
          </button>
          <button aria-label="remove" title="remove" class="glyphicon glyphicon-trash remove" ng-click="remove(group)">
          </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="center" ng-hide="pages <= 1">
  <ul class="pagination">
    <li ng-class="{disabled: page <= 1}">
      <a href="#/groups/1?q={{query}}">&laquo;</a>
    </li>
    <li ng-if="pageRange.length > 0 && pageRange[0] !== 1" class="disabled">
      <a href="">...</a>
    </li>
    <li ng-repeat="p in pageRange" ng-class="{active: p === page}">
      <a ng-href="#/groups/{{p}}?q={{query}}">{{p}}</a>
    </li>
    <li ng-if="pageRange.length > 0 && pageRange[pageRange.length - 1] !== pages" class="disabled">
      <a href="">...</a>
    </li>
    <li ng-class="{disabled: page >= pages}">
      <a ng-href="#/groups/{{pages}}?q={{query}}">&raquo;</a>
    </li>
  </ul>
</div>
