.tailwind-wrapper {
    --colors-default-focus-inner: var(--ces-color-default-focus-inner);
    --colors-default-focus-outer: var(--ces-color-default-focus-outer);
}

.tailwind-wrapper .mb-0 {
    margin-bottom: 0;
}

.tailwind-wrapper .mb-1 {
    margin-bottom: .25rem;
}

.tailwind-wrapper .mb-2 {
    margin-bottom: .5rem;
}

.tailwind-wrapper a.text-default-text {
    color: var(--ces-color-default-text);
    text-decoration: none;
}

.tailwind-wrapper a.text-default-text:hover {
    color: var(--ces-color-brand);
    text-decoration-line: underline;
    text-decoration-color: var(--ces-color-brand);
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}

.tailwind-wrapper a.text-default-text:focus-visible {
    outline: 2px solid var(--ces-color-default-focus-outer);
    outline-offset: 2px;
    border-radius: 2px;
}

.tailwind-wrapper legend {
    @apply desktop:text-desktop-regular mobile:text-desktop-regular font-semibold;
    color: var(--ces-color-default-text);
}

.tailwind-wrapper .text-danger {
    color: var(--ces-color-danger);
}

.tailwind-wrapper .order-first {
    order: -9999;
}
